*
{
    margin: 0px;
    padding: 0px;
}

body
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
    color: #772f27;
}

header {
    background: linear-gradient(to bottom, #772f27 140px, #ffffff 140px);
    border-radius: 25px 25px 0px 0px;
}

h1 {
    display: none;
    color: #fff
}

aside
{
    float: left;
    width: 250px;
    margin: 0px 20px 50px 20px;
}

main
{
    margin: 0px 20px 50px 390px;
}

main p, aside p
{
    margin-top: 10px;
    line-height: 1.5em;
}

p em
{
    font-weight: bold;
}

footer
{
    clear: left;
    text-align: center;
    border-top: 1px solid #933;
    padding-top: 10px;
    font-size: 0.9em;
    margin-left: 20px;
    margin-right: 20px;
}

@media (max-width: 868px) {
    header {
        padding: 30px 0px;
        margin-bottom: 30px;
        background: linear-gradient(135deg, #772f27 10%, #ffffff 70%);
    }
    header img {
        display: none;
    }
    header h1 {
        padding-top: 20px;
        padding-bottom: 20px;
        display: block;
    }
    aside
    {
        float: none;
        width: inherit;
        margin: 0px 20px 50px 20px;
    }
    main
    {
        margin: 0px 2px 50px 20px;
    }
}