*{margin: 0px; padding: 0px;}

body{
    margin-top: 20px;
    text-align: center;
    background-image: url(../imgs/old_map.png);
}

#page{
    width: 960px;
    margin: 0px auto 0px auto;
    text-align: left;
}
#header{
    font-family: courier;
    font-size:  1.1em;
    color: white;
    border-bottom: 6px black solid;
    background-color: #313B44;
    background-image: url(../imgs/logo.png);
    background-repeat: no-repeat;
    background-position: 25px center;
    padding: 20px 100px;
}

#nav{
    font-family: Courier;
    font-size: 1.4em;
    color: silver;
    text-align: center;
    background-image: url(../imgs/red015.jpg);
}

#nav li{
    padding: 80px 80px 10px;
    /*margin: 0px 100px 20px 100px;*/
    list-style: none;
    display: inline-block;
    text-align: center;    
}

#contenidos{
    background-image: url(../imgs/book.png);
    background-repeat: no-repeat;
    background-position: center 10px;
}

#videos{
    background-image: url(../imgs/film.png);
    background-repeat: no-repeat;
    background-position: center 10px;
    color:#e98318;
}

#contacto{
    background-image: url(../imgs/mail.png);
    background-repeat: no-repeat;
    background-position: center 10px;
    color: #e98318;
}

ul{
    display: inline;
}

a{
    text-decoration: none;
    color: orange;
}

a:hover{
    color: white;
}

#content{
    font-family: Verdana;
    font-size:  0.8em;
    background-image: url(../imgs/lgrey008.jpg);
}

.article{
    width: 240px;
    border: 1px lightgray solid;
    background-color: white;
    text-align: center;
    line-height: 1.8em;
    padding: 5px 5px 22px 5px;
    margin: 30px;
    float: left;
}

.clearfix:before,
.clearfix:after,
#content{
width:100%;
display: table;
}

.article_header{
    border-bottom: 1px solid #999999;
}

h2{
    padding: 180px 10px 10px 10px;
    font-size: 1.2em;
}

#html5{
    background-image: url(../imgs/html5.png);
    background-repeat: no-repeat;
    background-position: top;
}

#css3{
    background-image: url(../imgs/css3.png);
    background-repeat: no-repeat;
    background-position: top;
}

#javascript{
    background-image: url(../imgs/javascript.png);
    background-repeat: no-repeat;
    background-position: top;
}

#footer{
    color: white;
    text-align: center;
    background-color: #313B44;
    border-top: 6px black solid;
    padding: 15px 0px;
}

#footer a{
    color: white;
}



