body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: x-large;
    margin: 10px;
    text-align: center;
}

table {
    border: 3px solid black;
    border-spacing: 0px;
    border-collapse: collapse;
}

caption {
    padding: 10px;
    color: green;
    text-align: center;
    caption-side: bottom;
}

td {
    padding: 5px;
}

tr:nth-child(even):not(:nth-child(2)) {
    background-color: gray;
}

tr:first-child, tr:nth-child(2) {
    border-bottom: 3px solid black;
    font-weight: bold;
}

tr:nth-child(2) td:first-child {
    border-right: 3px solid black;
}
